<%- include('partials/header') %>

<main>
  <%- include('partials/catalog-banner') %>
  <span
  ><img
    id="arrow-icon--left"
    class="arrow-icon"
    src="/assets/fleche-fine-contour-vers-la-gauche.png"
    alt="Scroll right button"
/></span>
<div class="all-catalog-slider slider">
  <% categoryProducts.forEach(product => { %>
    <div class="coffee-card all-product-card">
      <div class="card-img">
        <img src="/assets/coffees/<%= product.reference_number %>.png" alt="" />
      </div>
      <div class="card-text-content">
        <h4><%= product.name %></h4>
        <h5>Origine : <%= product.origin %></h5>
        <p>
          Caractéristique principale : <%= product.category %>
        </p>
        <h5>Description :</h5>
        <p>
          <%= product.description %>
        </p>
        <div class="price-container">
          <h5>Prix au kilo : <%= product.price %> €</h5>
          <p>Disponible : 
            <% if (!product.available) {%>
              Non
            <% } else { %>  
              Oui
            <% }; %>  
            </p>
        </div>
        <a class="btn" href="/product/<%= product.id %>">Découvrir</a>
      </div>
    </div>
  <% }); %> 
<span
  ><img
    id="arrow-icon--right"
    class="arrow-icon"
    src="/assets/fleche-droite.png"
    alt="Scroll right button"
/></span>
</div>
</main>

<%- include('partials/footer') %>